.idea/
.DS_Store
.svn/

*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
!default.pbxuser
*.perspectivev3
!default.perspectivev3
xcuserdata/

*.hmap
*.ipa

.generated/

*.xccheckout
*.xcscmblueprint
*.xcworkspace
!default.xcworkspace
